/** Feuille de style atoms/txt **/

.rz_txt {
    @include rz-font-size($font-SSP, 1.6, 400, 20.8px, $font-blue);

    &--bold {
        font-weight: 700;
    }

    &--white {
        color: $white;
    }

    &--mentions {
        @include rz-font-size($font-SSP, 1, 400, 12.57px, $black);
        font-style: italic;
        margin-bottom: 2rem;
    }
}