/** Feuille de style general/main **/

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.rz {
    background-color: $white;
    overflow-x: hidden;
    font-family: Source Sans Pro;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
}
