/** Feuille de style general/utils **/

button {
    background: transparent;
    border: 0;
}

.text-center {
    text-align: center;
}

.overlay {
    width: 100vw;
    height: 100vh;
    background-color: $black;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .25s ease-in-out;
    z-index: -1;
    display: none;
    @include for-size(tablet) { 
        display: block;
    }
    &.active {
        opacity: .45;
        z-index: 2;
    }
}