/** Feuille de style abstracts-dir/variables/colors **/

$white:      #FFFFFF;
$black:      #000000;
$font-blue:  #010035;
$grey-border:#DCDCDC;
$grey-bcg:   #F4F5F6;
$red-sg:     #E2010B;
$green:      #29873D;